body{
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
	margin: 0;
	min-width: 960px
}

h2{
	color: #32425c;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	text-transform: uppercase;
}

img{
	height: auto;
	max-width: 100%;
}

.clearfix::after{
	clear: both;
	content: "";
	display: table;
}

.container{
	margin: 0 auto;
	width: 960px;
}

.top-menu{
	background-color: #293449;
}

.logo-techomart{
	float: left;
	margin-left: 10px;
}

.logo-techomart a{
	background-color: #ee3643;
	box-shadow: 0px 5px 0 0px #b52933;
	color: white;
	display: inline-block;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
	padding: 9px 53px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;
	width: 114px;
}

.logo-techomart a:hover{
	background: #ca2c37;
}

.logo-techomart a:active{
	background: #ba2732;
}

.search-form{
	color: #fff;
	float: left;
	height: 41px;
	position: relative;
	width: 270px;
}

.search-form:hover .search-icon{
	opacity: 1;
}

.search-form input[type="text"] + label{
	background: #ff0000;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -140px;
	height: 25px;
	left: 12px;
	opacity: 0.3;
	position: absolute;
	top: 12px;
	width: 25px;
}

.search-form input[type="text"]:focus + label{
	background: #ff0000;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -195px;
	height: 25px;
	left: 12px;
	opacity: 1;
	position: absolute;
	top: 12px;
	width: 25px;
}

.search-form input[type="text"]{
	background: #293449;
	border: none;
	color: #fff;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 17px;
	line-height: 18px;
	padding-bottom: 12px;
	padding-left: 50px;
	padding-right: 70px;
	padding-top: 11px;
}

.search-form input[type="text"]:hover{
	background: #212a3a;
}

.search-form input[type="text"]:focus{
	background: #fff;
	box-shadow: 0px 1px 0px 1px #fff;
	color: #000;
}

.top-menu-panel{
	background: #293449;
	float: right;
	font-size: 0;
	margin-right: 10px;
	width: 450px;
}

.top-menu-btn{
	background-color: #293449;
	color: #ffffff;
	display: inline-block;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 17px;
	line-height: 18px;
	padding: 12px 0;
	padding-left: 42px;
	padding-right: 32px;
	text-decoration: none;
	vertical-align: top;
}

.top-menu-btn:hover{
	background: #212a3a;
}

.top-menu-btn:active{
	background: #161d29;
	opacity: 0.5;
}

.bookmark-btn{
	position: relative;
}

.bookmark-btn::before{
	background: #ff0000;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -31px;
	content: "";
	height: 25px;
	left: 12px;
	opacity: 0.3;
	position: absolute;
	top: 12px;
	width: 25px;
}

.bookmark-btn:hover::before{
	opacity: 1;
}

.basket-btn{
	position: relative;
}

.basket-btn::before{
	background: #ff0000;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -5px;
	content: "";
	height: 25px;
	left: 12px;
	opacity: 0.3;
	position: absolute;
	top: 12px;
	width: 24px;
}

.basket-btn:hover::before{
	opacity: 1;
}

.basket-active{
	background: #ee3643;
	padding-right: 27px;
}

.basket-active:hover{
	background: #ee3643;
}

.order-btn{
	background: #63a63e;
	padding-left: 22px;
	padding-right: 22px;
}

.order-btn:hover{
	background: #5fbb2d;
}

.order-btn:active{
	background: #518534;
}

.second-header{
	background-color: #f1f5f7;
}

.header-text{
	color: #ee3643;
	float: left;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	margin-left: 60px;
	margin-top: 50px;
	padding: 0;
	width: 200px;
}

.header-contacts{
	float: left;
	margin-left: 70px;
	margin-top: 46px;
	width: 270px;
}

.header-phone{
	border: 3px solid #ffffff;
	color: #e9292a;
	display: block;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 21px;
	line-height: 18px;
	padding-bottom: 9px;
	padding-left: 69px;
	padding-right: 50px;
	padding-top: 9px;
	position: relative;
}

.header-phone::before{
	background: #ff0000;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -110px;
	content: "";
	height: 25px;
	left: 12px;
	position: absolute;
	top: 8px;
	width: 25px;
}

.header-address{
	color: #32425c;
	display: block;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 14px;
	line-height: 24px;
	margin-top: 7px;
	text-align: center;
}

.registration-form-btn{
	float: right;
	margin-left: 70px;
	margin-right: 10px;
	margin-top: 46px;
	width: 280px;
}

.sign-btn{
	background-color: #fff;
	color: #000;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 21px;
	line-height: 18px;
	text-decoration: none;
}

.sign-btn:hover{
	color: #ee3643;
}

.sign-btn:active{
	color: #c7c7c7;
}

.btn-enter{
	float: left;
	padding: 12px 0;
	padding-left: 47px;
	padding-right: 27px;
	position: relative;
}

.btn-enter::before{
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -57px;
	content: "";
	height: 25px;
	left: 15px;
	position: absolute;
	top: 12px;
	width: 25px;
}

.btn-enter:hover::before{
	background: transparent url("../img/sprite2.png") no-repeat;
	background-position: -10px -10px;
}

.btn-enter:active::before{
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -57px;
}

.btn-registration{
	float: right;
	margin-left: 10px;
	padding: 12px 0;
	padding-left: 24px;
	padding-right: 22px;
}

.account-form{
	float: right;
	margin-left: 45px;
	margin-right: 10px;
	margin-top: 46px;
	width: 300px;
}

.btn-account{
	float: right;
	padding: 12px 0;
	padding-left: 50px;
	padding-right: 64px;
	position: relative;
}

.btn-account::before{
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -167px;
	content: "";
	height: 25px;
	left: 15px;
	position: absolute;
	top: 12x;
	width: 25px;
}

.btn-account:hover::before{
	background: transparent url("../img/sprite2.png") no-repeat;
	background-position: -11px -121px;
}

.btn-account:active::before{
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -167px;
}

.btn-account::after{
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -84px;
	content: "";
	height: 25px;
	position: absolute;
	right: 10px;
	top: 12x;
	width: 25px;
}

.btn-account:hover::after{
	background: transparent url("../img/sprite2.png") no-repeat;
	background-position: -10px -47px;
}

.btn-account:active::after{
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -84px;
}

.account-form-list{
	float: left;
	margin: 0;
}

.account-form-list{
	margin-left: 20px;
	padding: 0;
}

.account-form-list li{
	color: #32425c;
	float: left;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 16px;
	line-height: 18px;
	list-style: none;
	margin-top: 10px;
	text-align: center;
}

.account-form-list li:last-child{
	padding-left: 30px;
	position: relative;
}

.account-form-list li:last-child::before{
	background: #32425c;
	border-radius: 50%;
	content: "";
	height: 4px;
	left: 10px;
	position: absolute;
	top: 8px;
	width: 4px;
}

.account-form-list a{
	color: #32425c;
}

.account-form-list a:hover{
	color: #ee3643;
}

.account-form-list a:active{
	color: #b7bfc8;
}

.main-navigation{
	background: #32425c;
	border-bottom: 5px solid #293449;
	float: left;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 17px;
	line-height: 17px;
	margin-bottom: 60px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 40px;
	width: 940px;
}

.main-navigation ul{
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation li{
	display: inline-block;
	font-size: 17px;
	line-height: 17px;
	vertical-align: top;
}

.main-navigation a{
	color: white;
	display: block;
	font-family: "Cuprum", "Tahoma", sans-serif;
	padding: 19px 30px;
	text-decoration: none;
}

.main-navigation li:first-child{
	margin-left: 21px;
}

.main-navigation a:hover{
	background: #293449;
}

.main-navigation a:active{
	background: #1d2739;
}

.breadcrumbs{
	display: inline-block;
	margin: 0;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 10px;
	position: relative;
	vertical-align: top;
}

.breadcrumbs li{
	float: left;
	list-style: none;
	padding-left: 43px;
	position: relative;
}

.breadcrumbs li::before{
	background: transparent url("../img/right.png") no-repeat;
	content: "";
	height: 15px;
	left: 18px;
	position: absolute;
	top: 3px;
	width: 15px;
}

.breadcrumbs li:first-child{
	background: transparent url("../img/home.png") no-repeat;
	content: "";
	height: 20px;
	left: 10px;
	padding-left: 0;
	position: absolute;
	top: 3px;
	width: 20px;
}

.breadcrumbs li:first-child::before{
	display: none;
}

.breadcrumbs a{
	color: black;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.promo-block{
	margin-bottom: 53px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 59px;
}

.promo-type{
	color: #fff;
	float: left;
	height: 123px;
	margin-bottom: 20px;
	margin-right: 20px;
	position: relative;
	width: 300px;
}

.promo-text-block{
	float: left;
}

.promo-type h3{
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	margin: 0;
	margin-left: 21px;
	margin-top: 20px;
}

.promo-btn{
	border-radius: 3px;
	color: #fff;
	display: block;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 20px;
	margin-left: 23px;
	margin-top: 12px;
	padding: 10px 23px;
	text-decoration: none;
}

.promo-type-slider{
	float: left;
	height: 266px;
	overflow-x: hidden;
	position: relative;
	width: 620px;
	background: #beae97;
}

.slider-slides{
	float: left;
	height: 266px;
	transition: transform .8s ease;
	width: 200%;
	width: 620px;
	background: #d9c4ad;
}

.promo-type-slider input[type=radio]{
	display: none;
}

.slider-controls{
	bottom: 35px;
	left: 285px;
	position: absolute;
	text-align: center;
	width: 50px;
	z-index: 5;
}

.slider-controls .slider-radio-btn{
	background: #fff;
	border: 3px solid white;
	border-radius: 50%;
	box-shadow: 0px 0px 2px rgba(0,0,0,.8);
	cursor: pointer;
	display: inline-block;
	height: 6px;
	margin: 0 3px;
	transition: background-color .2s;
	vertical-align: top;
	width: 6px;
}

#btn-1:checked ~ .slider-controls .slider-radio-btn:first-child{
	background: #ee3643;
}

#btn-2:checked ~ .slider-controls .slider-radio-btn:last-child{
	background: #ee3643;
}

#btn-1:checked ~ .slider-inner .promo-slide-second{
	transform: translate(-620px);
}

#btn-2:checked ~ .slider-inner .promo-slide-first{
	transform: translate(0px);
}

.promo-type-slider .slider-arrow{
	cursor: pointer;
	height: 60px;
	position: absolute;
	width: 42px;
	z-index: 900;
}

.promo-type-slider .slider-arrow-left{
	background: transparent url("../img/leftright.png") no-repeat;
	left: 20px;
	top: 105px;
}

.promo-type-slider .slider-arrow-right{
	background: transparent url("../img/leftright.png") no-repeat;
	background-position: 0px -60px;
	right: 15px;
	top: 105px;
}

.promo-type-slider h3{
	color: #fff;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 36px;
	font-weight: bold;
	line-height: 30px;
	margin: 0;
	margin-left: 23px;
	margin-top: 25px;
	text-transform: uppercase;
}

.promo-type-slider .slider-p{
	color: #fff;
	display: block;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 18px;
	line-height: 24px;
	margin-left: 25px;
	margin-top: 5px;
}

.promo-type-slider .main-btn{
	display: inline-block;
	margin-left: 25px;
	margin-top: 116px;
	padding: 10px 45px;
	text-transform: uppercase;
	vertical-align: top;
}

.promo-slide-second{
	background: transparent url("../img/promoslider2.jpg") no-repeat;
	content: "";
	height: 266px;
	left: 0;
	position: absolute;
	top: 0;
	width: 620px;
}

.promo-slide-first{
	background: transparent url("../img/promoslider.jpg") no-repeat;
	content: "";
	height: 266px;
	left: 0;
	position: absolute;
	top: 0;
	width: 620px;
}

.promo-materials{
	background-color: #f6b22d;
}

.promo-materials::after{
	background: transparent url("../img/promosprite.png") no-repeat;
	background-position: 5px -5px;
	content: "";
	height: 75px;
	position: absolute;
	right: 28px;
	top: 25px;
	width: 75px;
}

.promo-materials .promo-btn{
	background-color: rgba(221, 160, 40, 0.5);
	color: white;
}

.promo-materials .promo-btn:hover{
	background-color: rgba(221, 160, 40, 0.7);
}

.promo-materials .promo-btn:active{
	background-color: rgba(221, 160, 40, 1);
}

.promo-tools{
	background-color: #4aafde;
}

.promo-tools::after{
	background: transparent url("../img/promosprite.png") no-repeat;
	background-position: -10px -90px;
	content: "";
	height: 75px;
	position: absolute;
	right: 30px;
	top: 28px;
	width: 75px;
}

.promo-tools .promo-btn{
	background-color: rgba(66, 157, 199, 0.5);
	padding: 10px 26px;
}

.promo-tools .promo-btn:hover{
	background-color: rgba(66, 157, 199, 0.7);
}

.promo-tools .promo-btn:active{
	background-color: rgba(66, 157, 199, 1);
}

.promo-tech{
	background-color: #cc79d1;
	margin-right: 0;
}

.promo-tech::after{
	background: transparent url("../img/promosprite.png") no-repeat;
	background-position: -10px -170px;
	content: "";
	height: 75px;
	position: absolute;
	right: 30px;
	top: 25px;
	width: 80px;
}

.promo-tech .promo-btn{
	background-color: rgba(183, 109, 188, 0.5);
	padding: 10px 30px;
}

.promo-tech .promo-btn:hover{
	background-color: rgba(183, 109, 188, 0.7);
}

.promo-tech .promo-btn:active{
	background-color: rgba(183, 109, 188, 1);
}

.promo-sale{
	background-color: #85d179;
	float: right;
	margin-right: 0px;
}

.promo-sale::after{
	background: transparent url("../img/promosprite.png") no-repeat;
	background-position: -10px -258px;
	content: "";
	height: 75px;
	position: absolute;
	right: 27px;
	top: 25px;
	width: 80px;
}

.promo-sale .promo-btn{
	background-color: rgba(119, 188, 109, 0.5);
	padding: 10px 23px;
}

.promo-sale .promo-btn:hover{
	background-color: rgba(119, 188, 109, 0.7);
}

.promo-sale .promo-btn:active{
	background-color: rgba(119, 188, 109, 1);
}

.promo-delivery{
	background-color: #f6b22d;
	float: right;
	margin-bottom: 0px;
	margin-right: 0px;
}

.promo-delivery::after{
	background: transparent url("../img/promosprite.png") no-repeat;
	background-position: -10px -350px;
	content: "";
	height: 75px;
	position: absolute;
	right: 30px;
	top: 30px;
	width: 80px;
}

.promo-delivery .promo-btn{
	background-color: rgba(221, 160, 40, 0.5);
	padding: 10px 37px;
}

.promo-delivery .promo-btn:hover{
	background-color: rgba(221, 160, 40, 0.7);
}

.promo-delivery .promo-btn:active{
	background-color: rgba(221, 160, 40, 1);
}

.popular-block{
	background-color: #f7f3ec;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	min-height: 89px;
	width: 940px;
}

.popular-products-section{
	margin-left: 10px;
	margin-right: 10px;
}

.popular-block-page{
	background-color: #f2f6f8;
	margin-bottom: 20px;
}

.popular-block-page h2{
	float: left;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-weight: normal;
	margin: 0;
	margin-bottom: 35px;
	margin-left: 27px;
	margin-top: 30px;
}

.popular-block-first h2{
	float: left;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-weight: normal;
	margin: 0;
	margin-bottom: 35px;
	margin-left: 27px;
	margin-top: 30px;
}

.popular-block-second h2{
	float: left;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-weight: normal;
	margin: 0;
	margin-bottom: 35px;
	margin-left: 24px;
	margin-top: 30px;
}

.main-btn{
	background: #ee3643;
	border-radius: 3px;
	color: white;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 11px;
	padding-top: 9px;
	text-decoration: none;
}

.main-btn:hover{
	background: #ca2c37;
}

.main-btn:active{
	background: #ba2732;
}

.popular-products-block .main-btn{
	float: right;
	margin-bottom: 26px;
	margin-right: 24px;
	margin-top: 25px;
	padding: 10px 55px;
}

.popular-brands-block .main-btn{
	float: right;
	margin-bottom: 26px;
	margin-right: 24px;
	margin-top: 25px;
	padding: 10px 70px;
}

.product-cell{
	border: 1px solid #e5e5e5;
	float: left;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: bold;
	height: 315px;
	margin-bottom: 21px;
	margin-right: 20px;
	position: relative;
	width: 218px;
}

.product-cell:hover{
	box-shadow: 0 8px 15px 5px #b4b8bf;
}

.product-cell .product-window-hover{
	background-color: #fff;
	height: 88px;
	left: 0;
	padding: 40px 0;
	position: absolute;
	top: 0;
	width: 216px;
}

.product-window-hover{
	display: none;
}

.product-cell:hover .product-window-hover{
	display: block;
}

.btn-product-buy, 
.btn-product-bookmark{
	background-color: #63a63e;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 14px;
	margin-left: 42px;
	margin-right: 42px;
	padding: 10px 0;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;
}

.btn-product-buy{
	box-shadow: inset 0 -3px 0 #367315;
	margin-bottom: 7px;
	padding-left: 50px;
	padding-right: 45px;
}

.btn-product-buy:hover{
	background-color: #5fbb2d;
}

.btn-product-buy:active{
	background: #518534;
}

.btn-product-bookmark{
	background-color: #fff;
	border: 3px solid #63a63e;
	color: #404f67;
	padding: 9px 0;
	padding-left: 35px;
	width: 98px;
}

.btn-product-bookmark:hover{
	border: 3px solid #32425c;
}

.btn-product-bookmark:active{
	border: 3px solid #c1c6ce;
	color: #c1c6ce;
}

.product-cell:nth-child(3n){
	float: right;
	margin-right: 0px;
}

.product-image{
	height: 168px;
	overflow: hidden;
	width: 218px;
}

.product-image img{
	height: auto;
	left: -8px;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	right: 0;
	top: 25px;
	width: auto;
}

.product-cell .product-name{
	display: inline-block;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
	text-align: center;
	vertical-align: top;
}

.product-cell .old-price{
	color: #999999;
	display: inline-block;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 0px;
	margin-left: 77px;
	margin-top: 10px;
	min-height: 18px;
	text-align: center;
	text-decoration: line-through;
	vertical-align: top;
}

.product-name+ .btn-price{
	top: 29px;
}

.new:before{
	background: url("../img/new.png") no-repeat 0 0;
	content: "";
	height: 60px;
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
	z-index: 10;
}

.product-cell .btn-price{
	background: #ee3643;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 17px;
	line-height: 18px;
	margin: 10px 45px 20px 42px;
	padding: 10px 0;
	padding-left: 36px;
	padding-right: 24px;
	position: relative;
	vertical-align: top;
	width: 80px;
}

.product-cell .btn-price::after{
	border: 19px solid #fff;
	border-left-color: #ee3643;
	content: "";
	height: 0;
	position: absolute;
	right: -20px;
	top: 0;
	width: 0;
}

.paginator{
	margin-bottom: 60px;
	margin-top: 31px;
}

.paginator a{
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	color: black;
	display: inline-block;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 13px;
	height: 36px;
	line-height: 34px;
	margin-left: 7px;
	min-width: 22px;
	padding: 0 7px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
}

.paginator a:first-child{
	background-color: #ee3643;
	color: #fff;
	margin-left: 0px;
}
.paginator a:hover{
	border-color: #bdc6ca;
}

.paginator a:active{
	border-color: #ee3643;
}

.paginator .next{
	padding-left: 31px;
	padding-right: 31px;
}

.popular-brand-logo{
	margin-bottom: 65px;
	margin-left: 10px;
	margin-right: 10px;
}

.popular-brand-logo a{
	border: 1px solid #e5e5e5;
	display: inline-block;
	float: left;
	height: 143px;
	margin-bottom: 20px;
	margin-right: 20px;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 217px;
}

.popular-brand-logo a:hover{
	box-shadow: 0 8px 15px 5px #b4b8bf;
}

.popular-brand-logo a:active{
	opacity: 0.5;
}

.popular-brand-logo img{
	bottom: 0;
	height: auto;
	left: 0px;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	right: 0;
	top: 0px;
	width: auto;
}

.popular-brand-logo a:nth-child(4n){
	margin-right: 0px;
}

.info-block{
	background: #f2f6f8;
	height: 522px;
	overflow: hidden;
	position: relative;
}

.info-block-page{
	background: #f2f6f8;
	height: 262px;
}

.info-block-page h2{
	color: #000;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 30px;
	font-weight: normal;
	line-height: 24px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 70px;
}

.info-block-page p{
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 29px;
}

.service{
	padding-left: 10px;
}

.service h2{
	color: #000;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 30px;
	font-weight: normal;
	line-height: 24px;
	margin-top: 68px;
}

.service p{
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin: 0px;
	margin-top: 28px;
	width: 420px;
}

.service-buttons{
	float: left;
	margin-left: 10px;
	margin-top: 72px;
	position: relative;
	width: 240px;
}

.service-buttons::before{
	background: transparent url("../img/verticalline.png") no-repeat;
	content: "";
	height: 272px;
	left: 232px;
	position: absolute;
	top: -42px;
	width: 10px;
	z-index: 800;
}

.service-buttons .service-btn{
	background: #32425c;
	border-bottom: 1px solid #293449;
	border-top: 1px solid #405069;
	color: #fff;
	display: block;
	font-size: 21px;
	font-weight: bold;
	line-height: 30px;
	padding-bottom: 17px;
	padding-left: 23px;
	padding-top: 11px;
	text-decoration: none;
}

.service-buttons .service-btn:hover{
	background-color: #293449;
}

.service-buttons .service-btn-active{
	background: #fff;
	border-top: none;
	color: #293449;
}

.service-buttons .service-btn-active:hover{
	background: #fff;
	color: #293449;
}

.divider-line{
	float: left;
	margin-left: -5px;
	margin-top: 40px;
}

.service-description h2{
	color: #32425c;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 36px;
	font-weight: normal;
	line-height: 24px;
}

.service-description p{
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin-top: 31px;
}

.service-warranty{
	display: none;
}

.service-credit{
	display: none;
}

.service-delivery{
	float: left;
	margin-left: 80px;
	margin-top: 73px;
	position: relative;
	width: 620px;
}

.service-delivery::after{
	background: transparent url("../img/deliverypic.png") no-repeat;
	content: "";
	height: 261px;
	position: absolute;
	right: 2px;
	top: 19px;
	width: 468px;
}

.service-warranty{
	float: left;
	margin-left: 80px;
	margin-top: 74px;
	position: relative;
	width: 620px;
}

.service-warranty::after{
	background: transparent url("../img/warrantypic.png") no-repeat;
	content: "";
	height: 261px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 390px;
}

.service-credit{
	float: left;
	margin-left: 80px;
	margin-top: 74px;
	position: relative;
	width: 620px;
}

.service-credit::after{
	background: transparent url("../img/creditpic.png") no-repeat;
	content: "";
	height: 261px;
	position: absolute;
	right: 2px;
	top: 19px;
	width: 468px;
}

.service-credit .main-btn{
	float: left;
	margin-bottom: 26px;
	margin-right: 24px;
	margin-top: 25px;
	padding: 10px 45px;
	text-transform: uppercase;
}

.delivery-contacts{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 81px;
	padding-bottom: 86px;
}

.delivery-contacts h2{
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 30px;
	font-weight: normal;
	line-height: 24px;
}

.delivery-contacts p{
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 0px;
	margin-top: 31px;
}

.delivery-contacts p+ p{
	margin-top: 24px;
}

.delivery{
	float: left;
	width: 520px;
}

.delivery-list{
	font-size: 18px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	padding-left: 35px;
}

.delivery-list li{
	padding-top: 20px;
	position: relative;
}

.delivery-list li:before{
	background: #fb565a;
	content: "";
	height: 2px;
	left: -35px;
	position: absolute;
	top: 29px;
	width: 25px;
}

.delivery .main-btn{
	display: inline-block;
	margin-top: 36px;
	padding: 10px 40px;
	vertical-align: top;
}

.contacts{
	float: right;
	width: 300px;
}

.contacts a{
	display: block;
	margin-top: 31px;
}

.contacts .main-btn{
	margin-top: 36px;
	padding: 10px 61px;
}

.selection-block{
	margin-left: 10px;
	margin-right: 10px;
}

.filter-form{
	float: left;
	height: 740px;
	margin-right: 20px;
	width: 220px;
}

.range-filter{
	height: 130px;
	width: 220px;
}

.range-controls{
	background: #f7f3ec;
	border-radius: 5px;
	height: 41px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 39px;
	position: relative;
}

.range-controls .scale{
	background: #d7dcde;
	height: 2px;
}

.range-controls .bar{
	background: #00ca74;
	height: 2px;
	width: 80%;
}

.range-controls .toggle{
	background: #ababab;
	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
	height: 4px;
	left: 0px;
	position: absolute;
	top: 30px;
	width: 4px;
}

.range-controls .toggle-min{
	left: 20px;
}

.range-controls .toggle-max{
	left: 160px;
}

.price-controls{
	font-size: 0;
}

.price-controls label{
	display: inline-block;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 16px;
	margin-top: 10px;
	vertical-align: top;
	width: 45%;
}

.price-controls label:last-child{
	padding-left: 22px;
}

.price-controls input{
	background: #f7f3ec;
	border: none;
	border-radius: 5px;
	color: #283136;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 17px;
	line-height: 18px;
	outline: none;
	padding-bottom: 11px;
	padding-top: 9px;
	text-align: center;
	width: 95px;
}

.form-checkbox-check input[type="checkbox"]{
	display: none;
}

.form-checkbox-check input[type="checkbox"] + label{
	cursor: pointer;
	display: block;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 15px;
	line-height: 20px;
	margin: 20px 0px;
	padding-left: 35px;
	position: relative;
	text-transform: uppercase;
}

.form-checkbox-check input[type="checkbox"] + label::before{
	background: transparent url("../img/checksprite.png") no-repeat;
	background-position: -10px -10px;
	content: "";
	height: 23px;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 23px;
}

.form-checkbox-check input[type="checkbox"]:hover + label::before{
	opacity: 1;
}
.form-checkbox-check input[type="checkbox"]:checked + label::after{
	background: transparent url("../img/checksprite.png") no-repeat;
	background-position: -10px -53px;
	content: "";
	height: 23px;
	left: 0;
	opacity: 1;
	position: absolute;
	top: 0;
	width: 27px;
}

.form-checkbox-check input[type="checkbox"]:hover + label::after{
	opacity: 1;
}

.filter-form hr{
	border: none; 
	height: 1px; 
	background: #e5e5e5;
	margin: 23px 0;	
}

.form-checkbox-radio{
	margin-bottom: 78px;
}

.form-checkbox-radio input[type="radio"]{
	display: none;
}

.form-checkbox-radio input[type="radio"] + label{
	cursor: pointer;
	display: block;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 15px;
	line-height: 20px;
	margin: 20px 0px;
	padding-left: 35px;
	position: relative;
	text-transform: uppercase;
}

.form-checkbox-radio input[type="radio"] + label::before{
	background: transparent url("../img/radiosprite.png") no-repeat;
	background-position: -10px -10px;
	content: "";
	height: 25px;
	left: 0px;
	opacity: 0.5;
	position: absolute;
	top: -4px;
	width: 25px;
}

.form-checkbox-radio input[type="radio"]:hover + label::before{
	opacity: 1;
}

.form-checkbox-radio input[type="radio"]:checked + label::after{
	background: transparent url("../img/radiosprite.png") no-repeat;
	background-position: -10px -55px;
	content: "";
	height: 25px;
	left: 0px;
	opacity: 0.5;
	position: absolute;
	top: -4px;
	width: 25px;
}

.form-checkbox-radio input[type="radio"]:hover + label::after{
	opacity: 1;
}

.form-btn{
	background: #fff;
	border: 1px solid #e5e5e5;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 13px;
	line-height: 18px;
	padding: 10px 35px;
	text-transform: uppercase;
}

.filter-form h3{
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 21px;
	text-transform: uppercase;
}

.price-control label{
	display: block;
	font-size: 15px;
	margin-top: 20px;
}

.block-communicatory{
	background-color: #f7f3ec;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 13px;
	height: 38px;
	line-height: 18px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.communicatory-text{
	float: left;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 10px;
	width: 80px;
}

.sort-function{
	float: right;
	position: relative;
	width: 600px;
}

.sort-function .sort-btn-top{
	background: transparent url("../img/udsprite.png") no-repeat;
	background-position: -10px -40px;
	height: 10px;
	position: absolute;
	right: 50px;
	top: 13px;
	width: 10px;
}

.sort-function .sort-btn-down{
	background: transparent url("../img/udsprite.png") no-repeat;
	background-position: -10px -10px;
	height: 10px;
	position: absolute;
	right: 15px;
	top: 13px;
	width: 10px;
}

.sort-function .sort-btn-top:hover{
	background: transparent url("../img/udspritehover.png") no-repeat;
	background-position: -10px -40px;
	height: 10px;
	position: absolute;
	right: 50px;
	top: 13px;
	width: 10px;
}

.sort-function .sort-btn-down:hover{
	background: transparent url("../img/udspritehover.png") no-repeat;
	background-position: -10px -10px;
	height: 10px;
	position: absolute;
	right: 15px;
	top: 13px;
	width: 10px;
}

.sort-function .sort-arrow-active{
	background: transparent url("../img/udspriteactive.png") no-repeat;
	background-position: -10px -10px;
	height: 10px;
	position: absolute;
	right: 50px;
	top: 13px;
	width: 10px;
}

.sort-function .sort-btn-down:active{
	background: transparent url("../img/udspriteactive.png") no-repeat;
	background-position: -10px -40px;
	height: 10px;
	position: absolute;
	right: 15px;
	top: 13px;
	width: 10px;
}

.sort-function .btn-sort{
	border-bottom: 1px dotted #ee3643;
	color: #b2b2b2;
	display: inline-block;
	font-family: "PT Sans", "Tahoma", sans-serif;
	margin-bottom: 10px;
	margin-left: 67px;
	margin-top: 10px;
	text-decoration: none;
	vertical-align: top;
}

.sort-function .btn-sort-active{
	border: none;
	color: #ee3643;
}

.sort-function .btn-sort:hover{
	border-bottom: 1px solid #ee3643;
	color: #000;
}

.sort-function .btn-sort:active{
	border: none;
	color: #ee3643;
}

.sort-function .btn-sort:first-child{
	margin-left: 140px;
}

.catalog-main-field{
	float: right;
	width: 700px;
}

.catalog-list{
	width: 700px;
}

.popup-helper{
	background: #fff;
	border-top: 7px solid #ee3643;
	box-shadow: 0 19px 48px -3px #000;
	display: none;
	height: 430px;
	left: 50%;
	margin-left: -310px;
	position: fixed;
	top: 10%;
	width: 620px;
	z-index: 1000;
}

.popup-helper .popup-form-text{
	display: inline-block;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 18px;
	line-height: 14px;
	margin: 0;
	margin-bottom: 10px;
	vertical-align: top;
}

.popup-helper-show{
	display: block;
}

.popup-helper .popup-top{
	height: 310px;
	margin: 0 auto;
	position: relative;
	width: 460px;
}

.popup-helper .popup-cross{
	background: transparent url("../img/cross.png") no-repeat;
	height: 20px;
	position: absolute;
	right: 7px;
	top: 7px;
	width: 22px;
}

.popup-helper .popup-bottom{
	background: #f1f1f1;
	height: 120px;
}

.popup-helper input[type="text"]{
	border: 2px solid #d7dcde;
	border-radius: 5px;
	float: left;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 13px;
	line-height: 18px;
	min-height: 35px;
	padding-left: 10px;
	width: 200px;
}

.popup-helper .form-name{
	float: left;
	margin-top: 55px;
	width: 200px;
}

.popup-helper .form-mail{
	float: right;
	margin-top: 55px;
	width: 200px;
}

.popup-helper .form-textarea{
	float: left;
	margin-top: 20px;
	width: 460px;
}

.popup-helper textarea{
	border: 2px solid #d7dcde;
	border-radius: 5px;
	color: #999999;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 13px;
	line-height: 18px;
	min-height: 110px;
	padding-left: 10px;
	resize: none;
	width: 460px;
}

.popup-helper .popup-btn{
	border: none;
	border-radius: 5px;
	font-size: 14px;
	line-height: 18px;
	margin-top: 75px;
	padding: 10px 200px;
	text-transform: uppercase;
}

.map-popup{
	box-shadow: 0 12px 20px 5px #000;
	display: none;
	height: 450px;
	left: 50%;
	margin-left: -470px;
	position: fixed;
	top: 10%;
	width: 940px;
	z-index: 1000;
}

.map-popup-show{
	display: block;
}

.map-popup .popup-close{
	background: transparent url("../img/cross.png") no-repeat;
	height: 20px;
	position: absolute;
	right: 7px;
	top: 7px;
	width: 22px;
}

.popup-cart{
	background: #fff;
	border-top: 7px solid #ee3643;
	box-shadow: 0 12px 20px 5px #000;
	display: none;
	height: 280px;
	left: 50%;
	margin-left: -310px;
	position: fixed;
	top: 10%;
	width: 620px;
	z-index: 1000;
}

.popup-cart-show{
	display: block;
}

.popup-cart .popup-cart-container{
	margin: 0 auto;
	width: 460px;
}

.popup-cart .popup-image{
	background: #63a63e;
	border-radius: 50%;
	float: left;
	height: 66px;
	margin-top: 48px;
	position: relative;
	width: 66px;
}

.popup-cart .popup-image::before{
	background: transparent url("../img/shape.png") no-repeat;
	content: "";
	height: 29px;
	left: 15px;
	position: absolute;
	top: 20px;
	width: 39px;
}

.popup-cart .popup-header-text{
	color: #000;
	float: left;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 30px;
	line-height: 18px;
	margin-left: 35px;
	margin-top: 70px;
}

.popup-cart-top{
	height: 170px;
}

.popup-cart-bottom{
	background: #f1f1f1;
	height: 110px;
}

.popup-cart-bottom .popup-cart-btn{
	border-radius: 5px;
	margin-top: 37px;
	text-transform: uppercase;
}

.popup-cart-bottom .checkout-btn{
	float: left;
	padding: 10px 60px;
}

.popup-cart-bottom .btn-shopping-continue{
	background: #fff;
	float: right;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 45px;
}

.popup-cart-bottom .btn-shopping-continue:hover{
	background: #63a63e;
	color: white;
}

.popup-cart .popup-cross-btn{
	background: transparent url("../img/cross.png") no-repeat;
	height: 20px;
	position: absolute;
	right: 7px;
	top: 7px;
	width: 22px;
}

.footer-top{
	background-color: #32425c;
	min-height: 193px;
}

.footer-top-info{
	margin-left: 10px;
	margin-right: 10px;
}

.footer-bottom-info{
	margin-left: 10px;
	margin-right: 10px;
}

.footer-info-block{
	float: left;
	width: 370px;
}

.logo-bottom a{
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
	color: #fff;
	display: inline-block;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	padding-bottom: 15px;
	padding-left: 35px;
	padding-right: 40px;
	padding-top: 18px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;
}

.footer-text-top{
	color: #fff;
	float: left;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 18px;
	line-height: 24px;
	margin-left: 2px;
	margin-top: 28px;
	width: 325px;
}

.footer-navs-block{
	float: right;
	padding: 0;
	width: 570px;
}

.footer-nav-info{
	float: left;
	width: 570px;
}

.list-footer-info{
	margin: 0;
	margin-left: 20px;
	padding: 0;
}

.list-footer-info li{
	float: left;
	list-style: none;
	margin-left: 59px;
	margin-top: 38px;
}

.list-footer-info li:first-child{
	margin-left: 0px;
}

.list-footer-info a{
	color: white;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

.list-footer-info a:hover{
	text-decoration: underline;
}

.list-footer-info a:active{
	opacity: 0.5;
	text-decoration: none;
}

.footer-nav-product{
	float: right;
	width: 570px;
}

.list-footer-product{
	margin: 0;
	margin-left: 48px;
	padding: 0;
}

.list-footer-product li{
	float: left;
	list-style: none;
	margin-left: 59px;
	margin-top: 34px;
}

.list-footer-product li:first-child{
	margin-left: -5px;
}

.list-footer-product li:last-child{
	margin-left: 58px;
}

.list-footer-product a{
	color: #ffd180;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

.list-footer-product a:hover{
	text-decoration: underline;
}

.list-footer-product a:active{
	opacity: 0.5;
	text-decoration: none;
}

.footer-bottom{
	background-color: #293449;
	color: white;
	height: 107px;
}

.footer-copyright{
	float: left;
	margin-right: 150px;
	width: 230px;
}

.footer-text-bottom{
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 16px;
	line-height: 18px;
	margin-left: 1px;
	margin-top: 37px;
	padding: 0;
}

.footer-social{
	float: left;
	margin-left: 12px;
	width: 160px;
}

.social-btn{
	background: #212a3a;
	border-radius: 50px;
	display: inline-block;
	height: 41px;
	margin-top: 35px;
	position: relative;
	vertical-align: top;
	width: 41px;
}

.social-btn:hover{
	background: #ee3643;
}

.social-btn-vk::after{
	background: transparent url("../img/socialsprite.png") no-repeat;
	background-position: -1px -70px;
	content: "";
	height: 35px;
	position: absolute;
	width: 30px;
}

.social-btn-fb::after{
	background: transparent url("../img/socialsprite.png") no-repeat;
	background-position: 4px 0px;
	content: "";
	height: 30px;
	position: absolute;
	width: 30px;
}

.social-btn-inst::after{
	background: transparent url("../img/socialsprite.png") no-repeat;
	background-position: 2px -36px;
	content: "";
	height: 30px;
	position: absolute;
	width: 30px;
}

.footer-contacts{
	float: right;
	margin-top: 37px;
	width: 300px;
}

.footer-contacts p{
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 16px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

.footer-contacts a{
	color: #ffd180;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
}

.footer-contacts a:hover{
	text-decoration: underline;
}

.footer-contacts a:active{
	color: #c73644;
	text-decoration: none;
}

.contacts-link{
	float: left;
	width: 140px;
}

.contacts-maker{
	float: right;
	margin-right: 15px;
	width: auto;
}